html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

section {
  padding: 80px 0; /* adjust this to control vertical space */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heroes {
  background-color: #f8f9fa;
}

#about {
  background-color: #ffffff;
}

#footer {
  padding: 20px 0;
}
